<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset plugin="maven-plugin@2.14">
    <actions/>
    <description>SouJava_Scala_Gatling_Generic_Test</description>
    <keepDependencies>false</keepDependencies>
    <properties>
        <jenkins.model.BuildDiscarderProperty>
            <strategy class="hudson.tasks.LogRotator">
                <daysToKeep>5</daysToKeep>
                <numToKeep>-1</numToKeep>
                <artifactDaysToKeep>-1</artifactDaysToKeep>
                <artifactNumToKeep>-1</artifactNumToKeep>
            </strategy>
        </jenkins.model.BuildDiscarderProperty>
        <hudson.model.ParametersDefinitionProperty>
            <parameterDefinitions>
                <hudson.model.ChoiceParameterDefinition>
                    <name>TARGET</name>
                    <description></description>
                    <choices class="java.util.Arrays$ArrayList">
                        <a class="string-array">
                            <string>http://vertx-simple-json-endpoint.herokuapp.com</string>
                            <string>http://sheltered-tor-1754.herokuapp.com</string>
                            <string>http://desolate-harbor-2201.herokuapp.com</string>
                            <string>http://limitless-basin-5531.herokuapp.com</string>
                        </a>
                    </choices>
                </hudson.model.ChoiceParameterDefinition>
                <hudson.model.ChoiceParameterDefinition>
                    <name>NUM_THREADS</name>
                    <description></description>
                    <choices class="java.util.Arrays$ArrayList">
                        <a class="string-array">
                            <string>1</string>
                            <string>10</string>
                            <string>100</string>
                            <string>1000</string>
                            <string>5000</string>
                            <string>10000</string>
                            <string>20000</string>
                            <string>40000</string>
                        </a>
                    </choices>
                </hudson.model.ChoiceParameterDefinition>
                <hudson.model.ChoiceParameterDefinition>
                    <name>RAMP_TIME</name>
                    <description></description>
                    <choices class="java.util.Arrays$ArrayList">
                        <a class="string-array">
                            <string>0</string>
                        </a>
                    </choices>
                </hudson.model.ChoiceParameterDefinition>
                <hudson.model.ChoiceParameterDefinition>
                    <name>DURATION</name>
                    <description></description>
                    <choices class="java.util.Arrays$ArrayList">
                        <a class="string-array">
                            <string>60</string>
                            <string>120</string>
                            <string>300</string>
                            <string>600</string>
                            <string>1000</string>
                            <string>2000</string>
                            <string>5000</string>
                        </a>
                    </choices>
                </hudson.model.ChoiceParameterDefinition>
                <hudson.model.ChoiceParameterDefinition>
                    <name>ENDPOINT</name>
                    <description></description>
                    <choices class="java.util.Arrays$ArrayList">
                        <a class="string-array">
                            <string>/hello</string>
                        </a>
                    </choices>
                </hudson.model.ChoiceParameterDefinition>
                <hudson.model.ChoiceParameterDefinition>
                    <name>ENDPOINT_NAME</name>
                    <description></description>
                    <choices class="java.util.Arrays$ArrayList">
                        <a class="string-array">
                            <string>AC_API_1_1</string>
                        </a>
                    </choices>
                </hudson.model.ChoiceParameterDefinition>
            </parameterDefinitions>
        </hudson.model.ParametersDefinitionProperty>
    </properties>
    <scm class="hudson.plugins.git.GitSCM" plugin="git@3.0.1">
        <configVersion>2</configVersion>
        <userRemoteConfigs>
            <hudson.plugins.git.UserRemoteConfig>
                <url>https://github.com/soujava/scala-gatling-bootstrap-mvn.git</url>
            </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
            <hudson.plugins.git.BranchSpec>
                <name>*/master</name>
            </hudson.plugins.git.BranchSpec>
        </branches>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <submoduleCfg class="list"/>
        <extensions/>
    </scm>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <jdk>JDK8u121</jdk>
    <triggers>
        <hudson.triggers.TimerTrigger>
            <spec>H 4 * * 1-7</spec>
        </hudson.triggers.TimerTrigger>
    </triggers>
    <concurrentBuild>false</concurrentBuild>
    <rootModule>
        <groupId>br.org.soujava</groupId>
        <artifactId>scala-gatling-bootstrap-mvn</artifactId>
    </rootModule>
    <goals>clean install</goals>
    <aggregatorStyleBuild>true</aggregatorStyleBuild>
    <incrementalBuild>false</incrementalBuild>
    <ignoreUpstremChanges>true</ignoreUpstremChanges>
    <ignoreUnsuccessfulUpstreams>false</ignoreUnsuccessfulUpstreams>
    <archivingDisabled>false</archivingDisabled>
    <siteArchivingDisabled>false</siteArchivingDisabled>
    <fingerprintingDisabled>false</fingerprintingDisabled>
    <resolveDependencies>true</resolveDependencies>
    <processPlugins>true</processPlugins>
    <mavenValidationLevel>-1</mavenValidationLevel>
    <runHeadless>false</runHeadless>
    <disableTriggerDownstreamProjects>false</disableTriggerDownstreamProjects>
    <blockTriggerWhenBuilding>true</blockTriggerWhenBuilding>
    <settings class="jenkins.mvn.DefaultSettingsProvider"/>
    <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
    <reporters/>
    <publishers>
        <htmlpublisher.HtmlPublisher plugin="htmlpublisher@1.12">
            <reportTargets>
                <htmlpublisher.HtmlPublisherTarget>
                    <reportName>HTML Report</reportName>
                    <reportDir>gatling/target/result</reportDir>
                    <reportFiles>index.html</reportFiles>
                    <alwaysLinkToLastBuild>true</alwaysLinkToLastBuild>
                    <keepAll>true</keepAll>
                    <allowMissing>false</allowMissing>
                </htmlpublisher.HtmlPublisherTarget>
            </reportTargets>
        </htmlpublisher.HtmlPublisher>
        <io.gatling.jenkins.GatlingPublisher plugin="gatling@1.2.1">
            <enabled>false</enabled>
        </io.gatling.jenkins.GatlingPublisher>
    </publishers>
    <buildWrappers/>
    <prebuilders/>
    <postbuilders>
        <hudson.tasks.Shell>
            <command>cd gatling;
                mvn clean;
                mvn gatling:execute -Dgatling.simulationClass=soujava.BenchmarkGeneric -DNUM_THREADS=${NUM_THREADS} -DRAMP_TIME=${RAMP_TIME} -DDURATION=&quot;${DURATION}&quot; -DTARGET=&quot;${TARGET}&quot; -DENDPOINT=&quot;${ENDPOINT}&quot; -DENDPOINT_NAME=${ENDPOINT_NAME};
                cp -R target/gatling/*/ target/result;</command>
        </hudson.tasks.Shell>
    </postbuilders>
    <runPostStepsIfResult>
        <name>UNSTABLE</name>
        <ordinal>1</ordinal>
        <color>YELLOW</color>
        <completeBuild>true</completeBuild>
    </runPostStepsIfResult>
</maven2-moduleset>